appnope==0.1.2
attrs==20.3.0
backcall==0.2.0
decorator==4.4.2
flake8==3.9.0
iniconfig==1.1.1
ipython==7.21.0
ipython-genutils==0.2.0
isort==5.8.0
jedi==0.18.0
mccabe==0.6.1
mock==4.0.3
packaging==20.9
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.0
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.2
toml==0.10.2
traitlets==5.0.5
wcwidth==0.2.5
